<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Server sent file</title>
</head>

<body>
    <h1>Server sent page</h1>
    <style
        contenteditable
        style="display: block; white-space: pre; height: 400px; color: #171717; background-color: white; padding: 20px; font-size: medium; border-radius: 30px;">
        * { transition: all 0.2s; }

        body {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: xx-large;
            color: white;
            background-color: #171717;
        }

        h1 {
            background: transparent;
        }
    </style>
</body>

</html>